
<div class="general">
  <div class="show-nav">
    <%= render 'shared/navbar_intern'  %>
  </div> <!--Fechamento do navbar intern-->

 <div>

    <h1>About sobre Gargaleria</h1>

 </div>

  <div class="photo" style="justify-content: center">
      <img src="images/rss.jpg" alt="rss feed" />

  </div>


  <div class="text-about" style="text-align: center">
     <h3> Oh Raynannnnnn </h3>

  </div>


</div>
