.show-general{
display: flex;
flex-direction: column;
width: 100vw;
}

.show-nav{

}

.show-content{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100vw;

}

.show-content-product{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 600px;
}

.show-product-photo{

  width: 200px;

}

.show-product-detail{

  width:200px;
}

.image-show{

  width:100%;
  height:100%;
}

.price{

 font-size: 15px;
}

.button-button3 {
  background-color: #f44336;;
  border: none;
  color: white;
  padding: 2px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  margin-top:-7px;
  margin-left: 25px;

}



