const inputCategory = document.getElementById('beverage_category');
const cachacaButton = document.getElementById('beverage_genre_cachaça');
const cervejaButton = document.getElementById('beverage_genre_cerveja');

const fetchCategories = (event) => {
  const categoriesSelector = document.getElementById('beverage_category');
  $.ajax({
    url: `<%= dashboard_get_categories_path %>`,
    data: {"genre": `${event.currentTarget.value}`},
    dataType: "json",
    type: "POST",
    success: (data) => {
      categoriesSelector.innerHTML = '<option value=""></option>'
      data.forEach((category) => {
        categoriesSelector.insertAdjacentHTML('beforeend', `<option value="${category}">${category}</option>`);
      });
    }
  });
};

cachacaButton.addEventListener('click', (event) => { fetchCategories(event) });
cervejaButton.addEventListener('click', (event) => { fetchCategories(event) });

inputCategory.addEventListener('change', (event) => {
  if (inputCategory.value === 'Other') {
    inputCategory.classList.id = 'unselected_input'
    inputCategory.insertAdjacentHTML("afterend" ,`<input type="text" class="form-control extrainput mt-2" placeholder="Add category" name="beverage[category]" id="beverage_category">`);
  } else {
    if (document.querySelector(".extrainput")) {
      const extraInput = document.querySelector('.extrainput');

      extraInput.id = 'unselected_input';
      extraInput.classList.add('d-none');
      inputCategory.id = 'beverage_category';
    }
  }
});

