<%= render 'shared/navbar_intern' %>
<div class="container">
<h1>Update beverage</h1>
  <%= simple_form_for @beverage, url: dashboard_beverage_path(@beverage), method: :patch do |f| %>
    <%= render 'form', f: f %>
  <% end %>
  <%= link_to 'Return', dashboard_beverages_path, class:"btn btn-primary" %>
</div>
