<%= render 'shared/navbar_intern' %>
<div class="container">
  <div>
    <h1>Beverage detail</h1>
  </div>
  <div>
    <% if @beverage.photo %>
      <%= cl_image_tag @beverage.photo, id:"beverage-img-show"%>
    <% end %>
  </div>
  <div>
    <%= @beverage.name %>
  </div>
  <div>
    <%= link_to "Update", edit_dashboard_beverage_path, class:"btn btn-warning" %>
  </div>
</div>
