<div class="container">
  <h1>Order details</h1>
  <%= @order.status %>
  <% unless @order.status == 'posted' %>
  <%= link_to 'Cancel', dashboard_order_path(@order), method: :delete, data:{confirm:"are you shure?"}, class:"btn btn-danger" %>
  <% else %>
  <p>This order is already posted</p>
  <% end %>
  <% if @order.beverage.user == current_user %>
    <%= link_to 'Posted', dashboard_order_posted_path(@order), class:"btn btn-primary" %>
  <% end %>
  <div>
  <%= link_to 'Return', dashboard_beverages_path %>
</div>
</div>

