.button {
  background-color:#F49B20;
  color: white;
}

.btn-dashboard-card-delete{
  background: #551012;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 3px;
  color:white;
  &:hover{
    color:orange;
    text-decoration: none;
  }
}

.link_signup{
  text-decoration: none !important;
  color: white;
  margin-right: 10px;
  &:hover{
    color:orange;
  }
}
