.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
}

.content-filter{
  border: 1px solid grey;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-around;
  margin-top:40px;
  margin-bottom:20px;
  border-radius:20px;
}

.content-filter-item{
  border-radius:20px;
  width: 300px;
  text-align: center;
}

.filter-type{
  color: grey;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color:grey;
  }
}

.active{
  background: #f49b20;
  padding: 8px 100px;
  border-radius:20px;
}

.active .filter-type{
  color:white;
}

.content-cards {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 30px;
}

.content-cards div {
  margin-bottom: 10px;
}

div.overflow-description{
  height: 100px;
  overflow: auto;
}

#read-more{
  font-weight: bold;
}
