.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60%;
}

.content-cards {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin-top: 30px;
}

.content-cards div {
  margin-bottom: 10px;
}
