.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 200px !important;
  // margin-left: 65px;
  // display:flex;
  // justify-content:center;
  // align-items:center;
  // width: 40vw;
}

// .navbar-lewagon.navbar-adjust {
//   padding-top: 50px;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   color:white;
// }

#navbarDropdown {
  margin-left: 15px;
  &:hover{
    border-color: red;
    // border: 2px solid rgba(244, 155, 40, 0.8);
    transition: 0.1s;
    box-shadow: 0 0 2px 2px rgba(244, 155, 40, 0.8);
  }
}

// .dashboard ul li {
//   display: inline;
// }
