.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  width: 200px !important;
}

#navbarDropdown {
  margin-left: 15px;
  border: 1px solid rgba(244, 155, 40, 0.25);
  &:hover{
    transition: 0.15s;
    box-shadow: 0 0 2px 2px rgba(244, 155, 40, 0.8);
  }
}
